			<div class="header-top-area">
				<div class="container">
					<div class="row">
						<div class="col-xs-6">
							<!-- START LOGO DESIGN AREA -->
							<div class="logo">
								<a href="index.html">
									<p>CENTROID.UZ</p>
								</a>
							</div>
							<!-- END LOGO DESIGN AREA -->
						</div><!-- / END COL -->
						<div class="col-xs-6 text-right">
							<!-- START MENU DESIGN AREA -->
							<div class="mainmenu-icons">
								<span></span>
								<span></span>
								<span></span>
							</div>
							<!-- END MENU DESIGN AREA -->
						</div><!-- / END COL -->
					</div><!-- / END ROW -->
				</div><!-- / END CONTAINET -->
			</div>
